:root {
    color:#3d3d3d;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #d2def2;
    font-size: 1em;
}

img {
    height: 300px;
    width: auto;
    border: 10px solid aqua;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit:cover;
}

h1 {
    color:crimson;
    font-size: 40px;
}